@model IEnumerable<FinalAssignment.DAL.Data.Models.Minute>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css" />

<h1>Index</h1>
<partial name="_SearchBar" />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="minutesTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinuteType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalHistory)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody id="minuteTableBody">
        @foreach (var item in Model)
        {
            var supervisors = item.Employees.Select(emp => emp.Name);
            var sb = "";
            foreach (var supervisor in supervisors)
            {
                sb += $"{supervisor} ";
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinuteType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @sb
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Crews.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                @if (item.ApprovalStatus)
                {
                    <td>Approved</td>
                }
                else
                {
                    <td>Not Approved</td>
                }
                @if (item.ApprovalHistory)
                {
                    <td>Approved</td>
                }
                else
                {
                    <td>Not Approved</td>

                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-4">
        <button class="btn btn-secondary" type="button" id="previous">Previous</button>
        <button class="btn btn-secondary" type="button" id="next">Next</button>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var pageNumber = 0;
        var resultsPerPage = 0;

        $(document).ready(function () {
            $('#minutesTable').DataTable({
                "lengthMenu": [1, 2, 3, 4, 5, 10, 15, 20],
                "bPaginate": false,
                "order": [],
            });

            $("#previous").click(evt => {
                pageNumber = $("#pageNumber").val() * 1;
                resultsPerPage = $("#resultsPerPage").val() * 1;

                pageNumber = pageNumber >= 1 ? 1 : pageNumber - 1;

                $("#pageNumber").val(pageNumber);

                makeSearch();
            });

            $("#next").click(evt => {
                pageNumber = $("#pageNumber").val() * 1;
                resultsPerPage = $("#resultsPerPage").val();

                pageNumber += 1;

                $("#pageNumber").val(pageNumber);

                makeSearch();
            });

            $("#searchBtn").click(evt => {
                pageNumber = $("#pageNumber").val();
                resultsPerPage = $("#resultsPerPage").val();

                makeSearch();
            });

            //$("#searchForm").click(evt => {
            //    var filters = {
            //        Crew: $("#crewSearch").val(),
            //        Supervisor: $("#supervisorSearch").val(),
            //        Type: $("#typeSearch").val(),
            //        Month: $("#monthSearch").val(),
            //        Year: $("#yearSearch").val()
            //    };
            //});
        });

        const makeSearch = () => {
            $.ajax({
                url: "/Minutes/Search",
                method: "GET",
                data: {
                    Crew: $("#crewSearch").val(),
                    Supervisor: $("#supervisorSearch").val(),
                    Type: $("#typeSearch").val(),
                    Month: $("#monthSearch").val(),
                    Year: $("#yearSearch").val(),
                    PageNumber: pageNumber,
                    ResultsPerPage: resultsPerPage
                },
                success: (response) => {
                    renderTableBody(response.data);
                }
            });
        }

        const renderRow = row => {
            return `
                    <td>
                        ${row.id}
                    </td>
                    <td>
                        ${row.minType}
                    </td>
                    <td>
                        ${row.date}
                    </td>
                    <td>
                    </td>
                    <td>
                        ${row.crew}
                    </td>
                    <td>
                        ${row.topic}
                    </td>
                    <td>
                        ${row.approvalStatus ? "Approved" : "Not Approved"}
                    </td>
                    <td>
                        ${row.approvalHistory ? "Approved" : "Not Approved"}
                    </td>
                    <td>
                        <a href="/Minutes/Edit/${row.id}">Edit</a> |
                        <a href="/Minutes/Details/${row.id}">Details</a> |
                        <a href="/Minutes/Delete/${row.id}">Delete</a>
                    </td>`;
        }

        const renderTableBody = (data) => {
            const minuteTableBody = document.querySelector("#minuteTableBody");
            minuteTableBody.innerHTML = "";
            data.forEach(row => {
                minuteTableBody.insertAdjacentHTML("beforeend", renderRow(row));
            })
        }
    </script>
}